<div>
<ul class="post-list">
    {%- for post in include.posts limit:include.count -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- include tag-list.html tags=post.tags -%}
        <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul>

{%- if page.layout != "archive" -%}
{%- include subscribe-rss-feed.html -%}
{%- endif -%}
</div>